[Bb]in/
[Oo]bj/

*.pdb
*.suo
*.user
*.userprefs
*.log

.vs/
!**/.vs/*.fil

project.assets.json
.nuget/
!.nuget/NuGet.Config

*.csproj.user
*.fsproj.user
*.vbproj.user


TestResults/
*.trx

*.vshost.exe
*.vshost.exe.config

_PublishedWebsites/
[Pp]ublish/

.idea/
*.iml
*.iws

*.mdf
*.ldf
*.sdf
[Dd]ata.db

*.bak
*.tmp
*.obj
*.out
*.cache
*.ncb
*.scc
*.vsdir
*.vsw
*.code-workspace
*.DS_Store
Thumbs.db

.sonarqube/

.template.config/